/* BASE STYLES
============================================================================= */

* {
	margin:0;
	box-sizing:border-box;
}

body 	{font-family: 'Yantramanav', Arial;}

/* SECTION STYLES
============================================================================= */

/* ------------ Menu-icon ---------------------- */

.container_menu-icon {
	position:absolute;
	left:30px;
	top:30px;
	height:48px;
	width:48px;
	border:1px solid white;
	border-radius:24px;
	
}

.bar-1, .bar-2, .bar-3 {
	position:relative;
	top:8%;
	height:1px;
	width:25px;
	background-color:white;
	border:1px white solid;
	margin:8px auto;
}

/* ------------ Main Info ---------------------- */

.main-info {
	background-image: url(images/landing-page.jpg); 
	background-size:cover;
	height:100vh;
}

.main-info_text-box {
	text-align:center;
	position:relative;
    top:45%;
    transform:translateY(-50%);
	letter-spacing:8px;
}	

.main-info_header {
	font-size:4.5rem;
	font-weight:300;
	margin:0;
}

.main-info_header-sub{
	font-weight:300;
}

.main-info_header--text-style {
	color:silver;
	text-transform:uppercase;
}

/* ------------ Side Navbar ---------------------- */

.navbar {
	position:absolute;
	top:0;
	left:0;
	width:20%;
	background-image:linear-gradient(
					 to right bottom, 
					 rgb(1,1,1), 
					 rgba(32,3,32,.70)
	);
	padding:.2rem;
	height:100vh;
	text-align:center;
	z-index:200;
	transform:translateX(-100%);
	transition:all 1s ease-out;
}

.navbar--translate	{transform:translateX(0%);}

.navbar_portrait {
	display:block;
	margin:3.5rem auto 2rem auto;
	border-radius:75px;
	height:150px;
	box-shadow:0px 0px 20px black;
}

.navbar_description {
	color:white; 
	letter-spacing:3px;
}

.navbar_description-main 	{font-size:1.25rem; font-weight:400;}
.navbar_description-sub 	{font-size:1rem; font-weight:300;}


.navbar_menu 			{margin-top:2rem;}
.navbar_menu ul 		{list-style-type:none; padding:0;}

.navbar_menu a {
	display:block;
	font-weight:300;
	font-size:1.2rem;
	letter-spacing:2px;
	text-decoration:none;
	color:white;
	padding:.5rem 0;
}

.navbar_contact-info 		{margin-top:2.5rem; color:white;}
.navbar_contact-info--text  {
	font-weight:400; 
	letter-spacing:2px; 
	font-size:.85rem; 
	margin-bottom:.5rem;
}

.navbar_icon--style {
	font-size:2rem; 
	color:rgba(170, 170, 170, .7);
	padding:0 .15rem;
	transition:color 300ms ease-out;
}

/* MOBILE RESPONSIVENESS
============================================================================= */

.navbar_icon--style:hover {color:rgb(57, 57, 57);}




/* ANIMATIONS
============================================================================= */

