/* BASE STYLES
============================================================================= */

* {
	margin:0;
	box-sizing:border-box;
}

body 	{font-family: 'Yantramanav', Arial;}


/* SECTION STYLES
============================================================================= */

/* ------------ Main Container ---------------------- */

#container {
	margin:1.5rem 3rem;
	display:grid;
	grid-template-columns: 1fr 4fr;
	box-shadow:0px 0px 30px #888888;
	border-radius:20px 20px 20px 20px;
}

/* ------------ Main Info ---------------------- */

#main-info {
	border-radius:0px 20px 20px 0px;
	background:linear-gradient(
				rgba(255, 255, 255, .8),
				rgba(255, 255, 255, .8)),
			    url(images/landing-page.jpg); 
	background-size:cover;
}

/* ------------ Side Navbar ---------------------- */

#navbar {
	background-image:linear-gradient(
					 to right bottom, 
					 rgba(187,7,7,.75), 
					 rgba(249,100,0,.75)
	);
	border-radius:20px 0px 0px 20px;
	height:93vh;
	text-align:center;
}

.navbar_portrait {
	display:block;
	margin:2rem auto;
	border-radius:75px;
	height:150px;
	box-shadow:0px 0px 20px black;
}


.navbar_description {
	color:white; 
	letter-spacing:3px;
}

.navbar_description-main 	{font-size:1.25rem; font-weight:400;}
.navbar_description-sub 	{font-size:1rem; font-weight:300;}


.navbar_menu 			{margin-top:2rem;}
.navbar_menu ul 		{list-style-type:none; padding:0;}

.navbar_menu a {
	display:block;
	font-weight:300;
	font-size:1.2rem;
	letter-spacing:2px;
	text-decoration:none;
	color:white;
	padding:.5rem 0;
}

.navbar_contact-info 		{margin-top:2.5rem; color:white;}
.navbar_contact-info--text  {
	font-weight:400; 
	letter-spacing:2px; 
	font-size:.85rem; 
	margin-bottom:.5rem;
}

.navbar_icon--style 	{
	font-size:2rem; 
	color:rgba(57, 57, 57, .7); 
	padding:0 .15rem;
	transition:color 300ms ease-out;
}

/* MOBILE RESPONSIVENESS
============================================================================= */

.navbar_icon--style:hover {color:rgb(57, 57, 57);}




/* ANIMATIONS
============================================================================= */

