/* BASE STYLES
============================================================================= */

* {
	margin:0;
	box-sizing:border-box;
}

body 	{font-family: 'Yantramanav', Arial;}

/* SECTION STYLES
============================================================================= */

/* ------------ Menu-icon ---------------------- */

.container_menu-icon {
	position:absolute;
	left:30px;
	top:30px;
	height:48px;
	width:48px;
	border:1px solid transparent;
	border-radius:24px;
	cursor:pointer;
	transition:all 500ms ease-in;
}

.container_menu-icon:hover {
	border:1px solid white;
}

.bar-1, .bar-2, .bar-3 {
	position:relative;
	top:8%;
	height:1px;
	width:25px;
	background-color:white;
	border:1px white solid;
	margin:8px auto;
}

/* ------------ Main Info ---------------------- */

.main-info {
	background-image: url(images/landing-page.jpg); 
	background-size:cover;
	height:100vh;
}

.main-info_text-box {
	text-align:center;
	position:relative;
    top:45%;
    transform:translateY(-50%);
	letter-spacing:8px;
}	

.main-info_header {
	font-size:4.5rem;
	font-weight:300;
	margin:0;
}

.main-info_header-sub{
	font-weight:300;
}

.main-info_header--text-style {
	color:silver;
	text-transform:uppercase;
}

/* ------------ Side Navbar ---------------------- */

.navbar {
	position:fixed;
	top:0;
	left:0;
	width:20%;
	background-image:linear-gradient(
					 to right bottom, 
					 rgb(1, 1, 1), 
					 rgba(32, 3, 32,.70)
	);
	padding:.2rem;
	height:100vh;
	text-align:center;
	z-index:200;
	transform:translateX(-100%);
	transition:all 1s ease-out;
}
.navbar--translate			{transform:translateX(0%);}

.navbar_menu-close 			{cursor:pointer;}
.navbar_menu-close--top 	{transform:rotate(45deg);}
.navbar_menu-close--bottom  {transform:rotate(135deg);}

.navbar_menu-close--style {
	position:absolute;
	top:15px;
	right:10px;
	height:2px;
	width:20px;
	background-color:white;
}

.navbar_portrait {
	display:block;
	margin:3.5rem auto 2rem auto;
	border-radius:75px;
	height:150px;
	box-shadow:0px 0px 20px black;
}

.navbar_description {
	color:white; 
	letter-spacing:3px;
}

.navbar_description-main 	{font-size:1.25rem; font-weight:400;}
.navbar_description-sub 	{font-size:1rem; font-weight:300;}


.navbar_menu 			{margin-top:2rem;}
.navbar_menu ul 		{list-style-type:none; padding:0;}

.navbar_menu a {
	display:block;
	font-weight:300;
	font-size:1.2rem;
	letter-spacing:2px;
	text-decoration:none;
	color:white;
	padding:.5rem 0;
}

.navbar_contact-info 		{margin-top:2.5rem; color:white;}
.navbar_contact-info--text  {
	font-weight:400; 
	letter-spacing:2px; 
	font-size:.85rem; 
	margin-bottom:.5rem;
}

.navbar_icon--style {
	font-size:2rem; 
	color:rgba(170, 170, 170, .7);
	transition:color 300ms ease-out;
}

/* ------------ Portfolio page ---------------------- */

.container_portfolio {
	height:100vh;
	position:relative;
	z-index:100;
	width:100%;
	border-top:2px grey solid;
}

.container_portfolio-hide {
	opacity:0;
	visibility:hidden;
	overflow:hidden;
}

.container_portfolio--layout {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(350px, auto);
}

.container_portfolio-image {
	backgroud-size:cover;
	background-position:center;
	cursor:pointer;
}

.container_portfolio-image--overlay,
.container_portfolio-TBC--overlay {
	height:100%;
	background-color:rgba(0, 0, 0, .75);
	opacity:1;
	transition: all 1s ease;
}

.container_portfolio-image--overlay:hover .container_portfolio-information {
	background-color:rgba(0, 0, 0, .75);
}
.container_portfolio-image--overlay:hover {background-color:transparent;}
.container_portfolio-image--overlay:hover .container_portfolio-text, .container_portfolio-icon {
	opacity:1;
	visibility:visible;
}

.container_portfolio-information {
	color:white;
	height:30%;
	position:relative;
	top:70%;
	padding:0 .5rem;
	overflow:hidden;
	transition: all 250ms ease-in;
}

.container_portfolio-title {
	font-weight:400; 
	border-bottom:1px solid silver;
	padding:.2rem 0;
	letter-spacing:1px;
}

.container_portfolio-text {
	font-weight:300;
	padding:.25rem 0;
	transition:all 200ms ease-in;
	overflow:hidden;
	letter-spacing:1px;
}

.container_portfolio-icon	{
	font-size:1.2rem;
	transition:all 200ms ease-in;
	overflow:hidden;
}

.container_portfolio-quote-machine		{background-image:url(images/quote-machine.jpg);}
.container_portfolio-weather-machine	{background-image:url(images/weather-machine.jpg);}
.container_portfolio-wikipedia-app		{background-image:url(images/wikipedia-app.jpg);}
.container_portfolio-twitch-app			{background-image:url(images/twitch-app.jpg);}

.container_portfolio-tbc	{
	background-color:grey;
	color:transparent;
}

/* MOBILE RESPONSIVENESS
============================================================================= */

.navbar_icon--style:hover {color:rgb(57, 57, 57);}


/* ANIMATIONS
============================================================================= */
